@font-face {
   font-family: 'Md_Gothic11';
   font-display: swap;
   src: url('file:///Users/efeakkaya/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-12-27_042038/fonts/Md_Gothic11/font.ttf');
}
